.presentation {
	width: 97%;
	/*   height: 120px; */
	padding: 11px;
	/* margin: auto; */
	background: #fff;
	margin-top: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	/* transition: all 0.3s; */
	border-radius: 3px;
}

.presentation1 {
	width: 97%;
	/*   height: 120px; */
	/*   padding: 20px;*/
	/* margin: auto; */
	background: #FFF;
	margin-top: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	/* transition: all 0.3s; */
	border-radius: 3px;
}

.toDoNoteCss {
	width: 92%;
	background: #FFF;
	margin-top: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	/* transition: all 0.3s; */
	/* border-radius: 3px; */
	background-color:rgb(250, 250, 250);
	word-wrap: break-word;
}

#presentationTitle {
	width: 85%;
	/*   height: 120px; */
	padding: 10px;
	background: transparent;
	/* transition: all 0.3s; */
	font-family: 'Roboto Slab', 'Times New Roman', serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 23px;
	outline: none;
	/* 	word-wrap: break-word; */
}

#presentationNote {
	width: 95%;
	/*   height: 120px; */
	padding: 11px;
	/* white-space:pre-wrap; */
	font-family: 'Roboto Slab', 'Times New Roman', serif;
	/* font-variant-ligatures:none; */
	background: transparent;
	/* transition: all 0.3s; */
	outline: none;
	color: black;
	line-height: 19px;
	min-height: 46px;
	font-size: 18px;
	/* word-wrap: break-word; */
}

#presentationedit {
	width: 95%;
	/*   height: 120px; */
	/* padding: 23px; */
	background: transparent;
	/* transition: all 0.3s; */
	word-wrap: break-word;
}

.presentation:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
	/* transition: all 0.3s; */
	transform: translateZ(10px);
}

#doneButton {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
}

#presentationNote[contenteditable=true]:empty:before {
	content: attr(placeholder);
	font-size: 14px;
	line-height: 19px;
	min-height: 46px;
	color: grey;
}

#presentationTitle[contenteditable=true]:empty:before {
	content: attr(placeholder);
	font-family: 'Roboto Condensed', arial, sans-serif;
	font-size: 17px;
	display: block;
	font-weight: bold;
	color: gray;
}

#mainTitle[contenteditable=true]:empty:before {
	content: attr(placeholder);
	font-size: 14px;
	line-height: 19px;
	min-height: 46px;
	color: grey;
}

.deleteNoteDiv {
	width: 85%;
	background: #FFF;
	margin-top: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	/* transition: all 0.3s; */
	border-radius: 3px;
}

#presentationDelete {
	/* border:1px solid green; */
	width: 100%;
	/*   height: 120px; */
	/* padding: 21px; */
	background: #FFF;
	/* transition: all 0.3s; */
	word-wrap: break-word;
}

.showIcon {
	display: none;
}

.toDoNoteCss:hover .showIcon {
	display: block;
}

.showIcon.clicked, .showIcon.clicked.waiting:hover {
	display: block;
}

.pin {
	display: none;
}

.toDoNoteCss:hover .pin {
	display: block;
	cursor: pointer;
}

.other11 {
	color: rgba(0, 0, 0, .54);
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin: 22px 16px;
	position: absolute;
}

.reminderBlock {
	width: 100%;
	padding: 11px;
	font-family: 'Roboto Slab', 'Times New Roman', serif;
	background: transparent;
	outline: none;
	color: black;
	line-height: 19px;
	min-height: 46px;
	font-size: 18px;
}

.time {
	color: rgba(0, 0, 0, .54);
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	max-width: 200px;
	text-align: right;
	white-space: normal;
}

#deleteReminder {
	display: none;
}

#reminderBlock:HOVER  #deleteReminder {
	display: block;
	cursor: pointer;
}

#pageScraper {
	width: 100%;
	background-color: rgba(250, 250, 250, 0.8);
	outline: none;
	color: black;
	line-height: 19px;
	min-height: 46px;
	font-size: 18px;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.scraperTitleDiv {
	width: 148px;
	font-size: 14px;
	padding-top: 11px;
	overflow: hidden;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: 'Roboto Condensed', arial, sans-serif;
	padding-left: 6%;
}

.scraperhostName {
	font-family: 'Roboto', arial, sans-serif;
	color: rgba(0, 0, 0, .54);
	font-size: 11px;
	float: left;
	margin-left: 6%;
}
/* .createTitle {
	font-family: 'Roboto Condensed', arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
} */