.presentation {
	width: 95%;
	/*   height: 120px; */
	padding: 11px;
	/* margin: auto; */
	background: #FFF;
	margin-top: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	/* transition: all 0.3s; */
	border-radius: 3px;
}

.presentation1 {
	width: 95%;
	/*   height: 120px; */
	/*   padding: 20px;*/
	/* margin: auto; */
	background: #FFF;
	margin-top: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	/* transition: all 0.3s; */
	border-radius: 3px;
}

#presentationTitle {
	width: 95%;
	/*   height: 120px; */
	padding: 10px;
	background: #FFF;
	/* transition: all 0.3s; */
	font-family: 'Roboto Slab', 'Times New Roman', serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 23px;
	outline: none;
	word-wrap: break-word;
}

#presentationNote {
	width: 95%;
	/*   height: 120px; */
	padding: 11px;
	/* white-space:pre-wrap; */
	font-family: 'Roboto Slab', 'Times New Roman', serif;
	/* font-variant-ligatures:none; */
	background: #FFF;
	/* transition: all 0.3s; */
	outline: none;
	color: black;
	line-height: 19px;
	min-height: 46px;
	font-size: 18px;
	word-wrap: break-word;
}

#presentationedit {
	width: 95%;
	/*   height: 120px; */
	padding: 23px;
	background: #FFF;
	/* transition: all 0.3s; */
	word-wrap: break-word;
}

.presentation:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
	/* transition: all 0.3s; */
	transform: translateZ(10px);
}

#doneButton {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
}

#presentationNote[contenteditable=true]:empty:before {
	content: attr(placeholder);
	font-size: 14px;
	line-height: 19px;
	min-height: 46px;
	color: grey;
}

#presentationTitle[contenteditable=true]:empty:before {
	content: attr(placeholder);
	font-family: 'Roboto Condensed', arial, sans-serif;
	font-size: 17px;
	display: block;
	font-weight: bold;
	color: gray;
}

#mainTitle[contenteditable=true]:empty:before {
	content: attr(placeholder);
	font-size: 14px;
	line-height: 19px;
	min-height: 46px;
	color: grey;
}

/* .createTitle {
	font-family: 'Roboto Condensed', arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
} */