
<div class="row">
	<div class="neVct-LS81yb-tJHJj"
		style="color: rgba(0, 0, 0, .54); font-weight: bold; font-family: 'Roboto', arial, sans-serif; font-size: 14px; visibility: visible;"
		ng-if="pinnedCounted">Pinned</div>
	<!-- ng-repeat="x in notes track by $index" -->
	<div id="sortable2"
		ng-repeat="x in notes | filter:test as results track by $index"
		ng-if="x.pinned == 'true'">
		<div ng-class="addSpace3"></div>
		<div ng-class="chnageView"
			style="padding-right: 0px; padding-left: 0px">
			<div class="toDoNoteCss" ng-style="{'background-color':x.color}">
				
				
				<div ng-if= "x.image !=''">
					<div style="float: right; padding: 2px;display: block;" class="pin"
						ng-click="pinned(x,'false')" ng-if="x.image != ''">
						<img src="imgs/unPin.svg">
					</div>
					<!-- <br> -->
					<div id="presentationImage"
						style="height:238px;
						background-image: url({{x.image}});
						background-repeat:no-repeat;background-size: cover;"
						ng-if="x.image != '' && x.image != null" ng-model="descNote"
						ng-style="{'background-color':x.color}"
						data-ng-click="displayPopupData(x)">
						<!-- <img ng-src={{x.image}} height="100%" width="100%"> -->
					</div>
				</div>
				
					
				<div>
					<div style="float: right; padding: 7px; display: block;"
						class="pin" ng-click="pinned(x,'false')" ng-if="x.image == null || x.image == ''">
						<img src="imgs/unPin.svg">
					</div>
					<div ng-bind-html="x.title" id="presentationTitle"
						ng-style="{'background-color':x.color}" ng-model="titleNote"
						data-ng-click="displayPopupData(x)"></div>
				</div>

				<div ng-bind-html="x.description" id="presentationNote"
					ng-model="descNote" ng-style="{'background-color':x.color}"
					data-ng-click="displayPopupData(x)"></div>



				<div style="display: inline-block; height: 35px">
					<div id="presentationDelete" class="showIcon">

						<!-- <div class="noteImagesDiv showIcon" data-toggle="tooltip"
							data-placement="bottom" title="Reminde me">
							<img src="imgs/remindericon.svg">
						</div> -->
						
						
						<!-- Here I have made reminder Directive so directly I have added -->
						<reminder></reminder>
						
						<div class="noteImagesDiv showIcon" data-toggle="tooltip"
							data-placement="bottom" title="Collabrate" ng-click="collabratorPopup(x)">
							<img src="imgs/collabrate.svg">
						</div>
						
						
						
							
						<!--  created color box -->
						<!-- color division -->
						<colorbox></colorbox>
						
							

						<div class="noteImagesDiv showIcon" data-toggle="tooltip"
							data-placement="bottom" title="Add Image">
							<img src="imgs/image.svg">
						</div>
						<div class="noteImagesDiv showIcon" data-toggle="tooltip"
							data-placement="bottom" title="Archive" ng-click="archiveNote(x)">
							<img src="imgs/archive.svg">
						</div>
						<div class="noteImagesDiv showIcon" data-toggle="tooltip"
							data-placement="bottom" title="More">
							<a href="javascript:void(0);" onclick="miral()"
								class="select_more"><img src="imgs/more.svg"></a>
						</div>

						<!-- <ul class="dropdown-menu">
							<li><a href="#">HTML</a></li>
							<li><a href="#">CSS</a></li>
							<li><a href="#">JavaScript</a></li>
						</ul> -->

						<!-- <button id="doneButton" data-ng-click="deleteNote(x.id)"
									style="float: right;">Delete</button> -->

						<div class="noteImagesDiv showIcon" data-ng-click="deleteNote(x)">
							<img src="imgs/Trash.png">
						</div>

					</div>

				</div>
				
				<div  id="reminderBlock" style="width: 100%;padding-left:10px;
					border-top: 2px dotted rgba(0,0,0,0.1)"
					ng-style="{'background-color':x.color}"
				    ng-if="x.reminderTime != null">
					<div style="display: inline-block;">
						<div style="float: left;"><img style="width: 15px;padding-top: 4px;" 
							src="imgs/clock.svg"></div>
						
						<div style="float: left;font-size:12px;width: 182px;
							 padding-left: 16px;padding-top: 7px;
							 color:gray;
							 font-family: 'Roboto',arial,sans-serif";
							 ng-bind-html="x.reminderTime | date:'MMM dd, h:mm a' "></div>
							 
						<div style="float: left;height: 22px;width: 15px;"
						 id="deleteReminder" ng-click="createReminder(x,'null')">
								<img style="width: 15px; padding-top: 7px;" src="imgs/cross.svg" ></div>	
					</div>
				</div>
				
				<!-- page scarpping div -->
				<div id="pageScraper" ng-repeat="y in x.scrapers"
					style="display: inline-block;">
					<a target="_blank" href="{{y.mainUrl}}">
					<div style="height: 56px; width: 56px; float: left;">
						<img ng-src="{{y.url}}" height="56px" width="100%">
					</div>
					<div>
						<div>
							<div class="scraperTitleDiv">{{y.titleUrl}}</div>
							<div
								style="margin-top: 3px; float: right; padding-right: 7px; 
									border: 1px solid transparent;">
								<a target="_blank" href="{{y.mainUrl}}" ><img src="imgs/redirectUrl.svg"></a>
							</div>
						</div>
					</div>
					<div class="scraperhostName">{{y.hostName}}</div></a>
				</div>
				
			</div>
		</div>
	</div>
	<br> <br> <br>
</div>


<script>
	$(function() {
		$("#sortable2").sortable();
	});
</script>
