


<!---------------------Navigation Bar --------------------------------->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
	id="navigationBar">
	<div class="container-fluid">
		<div class="navbar-header" style="display: inline-block;">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span
				aria-hidden="true"><img src="imgs/menu.svg" alt="Sidemenu"></span></a>
		</div>

		<div id="navbar" class="navbar-collapse collapse"
			style="float: right;">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="javascript:void(0);"><span class="refresh"
						aria-hidden="true" ng-click="refresh()"><img
							src="imgs/refresh.svg" alt="refresh" data-toggle="tooltip"
							title="refresh"></span></a></li>



				<li><a href="javascript:void(0);"><span aria-hidden="true"
						ng-show="gridImage" ng-click="showListImage()"><img
							src="imgs/grid.svg" alt="grid"></span> <span aria-hidden="true"
						ng-show="listImage" ng-click="showGridImage()"><img
							src="imgs/listview.svg" alt="grid"></span></a></li>

				<li><a href="#"><span aria-hidden="true"><img
							src="imgs/bell.png" alt="notification"></span></a></li>
				
		
							
							
			<li class="dropdown">
				<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" style="height: 32px; width: 32px; margin: 14px; padding: 1px;">
					<span aria-hidden="true"> 
						<img src="imgs/usericon.png" alt="user" style="height: 32px; width: 31px; border-radius: 50%;">
					</span>
				</a>
				<div class="dropdown-menu" style="height: 170px; padding: 10px">
				<div style="height: 96px; width: 270px;border-bottom: 1px solid #ddd;">
					<div
						style="width: 40%; height: 100%; padding: 8px;">
						<img src="http://localhost:8080/TodoApp/imgs/usericon.png"
							style="height: 102%; width: 91%; border-radius: 50%;">
					</div>
				</div>
				<div style="float: right;padding: 14px;">
					<button class="btn btn-default dropdown-toggle" type="button"
						data-toggle="dropdown">Sign out</button>	
				</div>
			</div>
			</li>	
							
							
							
							
				<!--  <li><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log Out</a></li> -->
			</ul>
		</div>
		<div>
			<!-- <form action="#" method="GET"> -->

			<!-- <input type="text" id="searchBar" name="search" placeholder="Search.." value=""> -->
			<input ng-click="chngBackgroundOfSearch()" ng-style="myObj"
				style="text-align: center; margin-top: 6px; margin-left: 232px; width: 573px; height: 47px; -color: transparent; background-color: transparent;"
				type="text" class="form-control" placeholder="Search..." id="query"
				name="search" ng-model="test" ng-click="hideAndShowSearchButton">
			<div class="input-group">
				<div class="input-group-btn">
					<!-- <button type="submit" class="btn btn-success"
						ng-show="searchButton"
						style="margin-left: -5px; width: 49px; height: 45px; border-color: transparent; background-color: transparent;">
						<span class="glyphicon glyphicon-search"> style="background-color: blue"
						</span>
					</button> -->
				</div>
			</div>
			<!-- </form> -->
		</div>
	</div>
	</div>
</nav>



<!---------------------Sidebar Bar --------------------------------->
<div id="wrapper" class="toggled">
	<div class="container-fluid" id="sidebarContainerFluid">
		<!-- Sidebar -->
		<div id="sidebar-wrapper" style="background-color: #e8e8e8">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><br></li>
				<li class="sidebar-brand"><a href="#" class="navbar-brand">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						Profile
				</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-home"
						aria-hidden="true"></span> Home</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-search"
						aria-hidden="true"></span> Search</a></li>
				<li><span class="glyphicon glyphicon-search" aria-hidden="true"></span><font
					color="#337AB7"> STATISTICS</font></li>
				<li><a href="#"><span class="glyphicon glyphicon-tasks"
						aria-hidden="true"></span> Reports</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-stats"
						aria-hidden="true"></span> Statistic</a></li>
				<li><span class="glyphicon glyphicon-search" aria-hidden="true"></span><font
					color="#337AB7"> ADMINISTRATION</font></li>
				<li><a href="#"><span class="glyphicon glyphicon-user"
						aria-hidden="true"></span> Users</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-envelope"
						aria-hidden="true"></span> Messages</a></li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->



		<!---------------------Title card --------------------------------->
		<!-- Page Content -->
		<div id="page-content-wrapper" style="margin-top: 75px;">
			<div class="container-fluid" id="pageContainerfluid">

				<div class="row">
					<div class="col-lg-3"></div>
					<div class="col-lg-7">
						<div contenteditable1 contenteditable="true" role="textbox"
							placeholder="Take a Note..." class="presentation"
							data-ng-show="IsVisible1" data-ng-click="ShowHide()"
							id="mainTitle"></div>



						<!-- /card division  -->
						<div data-ng-show="IsVisible" class="presentation1"
							style="padding: 7px;" id="showDivision">

							<div contenteditable1 contenteditable="true" placeholder="Title"
								ng-value="value" ng-model="title1" id="presentationTitle"
								role="textbox" class="createTitle" tabindex="0"
								ng-blur="hideTitle()"></div>


							<div contenteditable1 contenteditable="true" tabindex="1"
								class="createDesc" placeholder="Take a notes..."
								ng-model="description1" ng-blur="hideTitle()" ng-value="value"
								id="presentationNote" class="createDescription"></div>


							<div id="presentationedit" class="icon"
								style="display: inline-block; display: b">
								<div class="titleImagesDiv" data-toggle="tooltip"
									data-placement="bottom" title="Reminde me">
									<img src="imgs/remindericon.svg">
								</div>
								<div class="titleImagesDiv" data-toggle="tooltip"
									data-placement="bottom" title="Collabrate">
									<img src="imgs/collabrate.svg">
								</div>
								<div class="titleImagesDiv" data-toggle="tooltip"
									data-placement="bottom" title="Change color">
									<img src="imgs/color.svg">
								</div>
								<div class="titleImagesDiv" data-toggle="tooltip"
									data-placement="bottom" title="Add image">
									<img src="imgs/image.svg">
								</div>
								<div class="titleImagesDiv" data-toggle="tooltip"
									data-placement="bottom" title="Archive">
									<img src="imgs/archive.svg">
								</div>
								<div class="titleImagesDiv" data-toggle="tooltip"
									data-placement="bottom" title="More">
									<img src="imgs/more.svg">
								</div>

								<div style="float: right;">
									<button id="doneButton" ng-click="createNote()"
										style="float: right; font-weight: bold; padding: 7px;">DONE</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br> <br>
				<!-- Collection of notes div -->
				<div class="row">
					<!-- ng-repeat="x in notes track by $index" -->
					<div
						ng-repeat="x in notes | filter:test as results track by $index">
						<div ng-class="addSpace3"></div>
						<div ng-class="chnageView">
							<div class="toDoNoteCss">
								<div ng-bind-html="x.title" id="presentationTitle"
									data-ng-click="displayPopupData(x)"></div>
								<div ng-bind-html="x.description" id="presentationNote"
									data-ng-click="displayPopupData(x)"></div>

								<div style="display: inline-block; height: 35px">
									<div id="presentationDelete" class="showIcon">
										<div class="noteImagesDiv showIcon" data-toggle="tooltip"
											data-placement="bottom" title="Reminde me">
											<img src="imgs/remindericon.svg">
										</div>
										<div class="noteImagesDiv showIcon" data-toggle="tooltip"
											data-placement="bottom" title="Collabrate">
											<img src="imgs/collabrate.svg">
										</div>
										<div class="noteImagesDiv showIcon" data-toggle="tooltip"
											data-placement="bottom" title="Change color">
											<img src="imgs/color.svg">
										</div>
										<div class="noteImagesDiv showIcon" data-toggle="tooltip"
											data-placement="bottom" title="Add Image">
											<img src="imgs/image.svg">
										</div>
										<div class="noteImagesDiv showIcon" data-toggle="tooltip"
											data-placement="bottom" title="Archive">
											<img src="imgs/archive.svg">
										</div>
										<div class="noteImagesDiv showIcon" data-toggle="tooltip"
											data-placement="bottom" title="More">
											<a href="javascript:void(0);" onclick="miral()"
												class="select_more"><img src="imgs/more.svg"></a>
										</div>

										<ul class="dropdown-menu">
											<li><a href="#">HTML</a></li>
											<li><a href="#">CSS</a></li>
											<li><a href="#">JavaScript</a></li>
										</ul>

										<!-- <button id="doneButton" data-ng-click="deleteNote(x.id)"
									style="float: right;">Delete</button> -->

										<div class="noteImagesDiv showIcon"
											data-ng-click="deleteNote(x.id)">
											<img src="imgs/Trash.png">
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /#page-content-wrapper -->
			</div>
		</div>
		<!-- /#wrapper -->


		<!-- dropdown list using bootstrap -->





		<!-- <div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button"
				data-toggle="dropdown">Tutorials</button>
			<div class="dropdown-menu" style="height: 170px; padding: 10px">
				<div style="height: 96px; width: 281px; border: 1px solid blue;">
					<div
						style="border: 1px solid pink; background-color: aqua; width: 40%; height: 100%; padding: 8px;">
						<img src="http://localhost:8080/TodoApp/imgs/usericon.png"
							style="height: 102%; width: 91%; border-radius: 50%;">
					</div>
				</div>
				<div style="border: 1px solid #ddd">
					<button class="btn btn-default dropdown-toggle" type="button"
						data-toggle="dropdown">Add</button>
					<button class="btn btn-default dropdown-toggle" type="button"
						data-toggle="dropdown">Add</button>	
				</div>
			</div>
		</div> -->






		<script type="text/javascript">
			$(document).ready(function() {

				$("#menu-toggle").click(function(e) {
					e.preventDefault();
					$("#wrapper").toggleClass("toggled");
				});
			});

			function miral() {
				$('.dropdown-menu').toggle();
			}
		</script>